body {
    min-width: 400px;
    background-color: antiquewhite;
    margin: 20px;
}

header h1, h5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

header h1 {
    padding-top: 20px;
}

header h5 {
    color: gray;
}

nav {
    margin: auto 60px auto 60px;
    text-align: left;
}


#container {
    min-width: 80%;
    text-align: center;
    background-color: aliceblue;
    outline-width: 1px;
    outline-style: solid;
    outline-color: cadetblue;
    box-shadow: 3px 5px 8px gray;
}

.hamburger {
    float: right;
}

.hamburger:hover {
    color:cornflowerblue;
}

.headline {
    margin: 30px;
    padding: 30px 15px 15px 15px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: cadetblue;
}

.headline header a {
    font-weight: bold;
    font-size: x-large;
    color: black;
}

.headline header a:hover {
    color:cornflowerblue;
}

.article {
    text-align: left;
}

.trending {
    text-align: left;
    color: darkslateblue;
    margin: 30px;
    padding: 30px 15px 15px 15px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: cadetblue;
}

.trending ul {
    list-style: none;
    margin-left: -30px;
}

.trending li {
    outline-width: 1px;
    outline-style: solid;
    outline-color: cadetblue;
    padding: 10px;
    margin-bottom: 10px;
}

.trending a {
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: black;
}

footer {
    margin: 50px 0px 50px 0px;
    padding-top: 1px;
    padding-bottom: 20px;
    background-color: darkslategray;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color:cornflowerblue;
}

.trendingicon {
    float: right;
}

.media {
    visibility: hidden;
}

@media screen and (min-width: 500px) {
    .media {
        visibility: visible;
    }
    .trendingicon {
        float: right;
    }

    .trending li {
        padding: 10px;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
   
}

@media screen and (min-width: 1024px) {
    
}